@use 'sass:map';

@import '../../../../styles/variables.scss';

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.container {
	display: flex;
	flex-direction: column;
	opacity: 0;

	&--visible {
		animation: fade-in 1.5s ease-in-out;
		opacity: 1;
	}

	&--hidden {
		opacity: 0;
	}

	&__title {
		font-size: 4rem;
		font-weight: 400;
		font-style: italic;
		color: #000000;
	}

	&__description {
		font-size: 2rem;
		font-weight: 300;
		color: #000000;
		margin-top: 32px;
	}
}

@media (max-width: map.get($sizes, main-mobile-width)) {
	.container {
		&__title--middle {
			text-align: center;
		}
	}
}
